<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FruitsVegetablesMallServer.mapper.BannerListMapper">
 
 	<insert id="addBannerList" parameterType="com.FruitsVegetablesMallServer.pojo.BannerList" >
        insert into bannerlist (orders,imageUrl,detail) values(#{orders},#{imageUrl},#{detail})
    </insert>
 
 	<delete id="deleteBannerList" parameterType="java.lang.Integer">
		delete from bannerlist where id = #{id}
	</delete>
 
 	<select id="queryAllBannerList" resultType="com.FruitsVegetablesMallServer.pojo.BannerList">
        select * from bannerlist order by orders
    </select>
    
    <select id="queryBannerList" resultType="com.FruitsVegetablesMallServer.pojo.BannerList">
        select * from bannerlist where id=#{id}
    </select>
 
 	<update id="updateBannerList" parameterType="com.FruitsVegetablesMallServer.pojo.BannerList">
		Update bannerlist set orders = #{orders},imageUrl = #{imageUrl},detail = #{detail} where id = #{id}
	</update>
 
</mapper>